.doc_card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    width: 100%;
}

.doc_card:hover {
    border: 1px solid #6e2594;
}

.doc_card img {
    box-sizing: border-box;
    height: 150px;
    width: 100%px;
}

.doc_card .doc_card_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px;
}

.doc_card .doc_card_content .doc_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

.doc_card .doc_card_content .doc_content .content_left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
