.container {
    max-width: 1128px;
    align-items: center;
    margin: 0 auto;
    min-height: 100%;
    margin-top: 70px;
}

.createNewSurvey {
    font-weight: bold;
    color: #f9f9f9;
    background-color: #0063e5;
    letter-spacing: 1.5px;
    font-size: 18px;
    padding: 10px 0;
    border: 1px solid transparent;
    border-radius: 8px;
    width: 290px;
    height: auto;
    margin: 12px 0 12px 20px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.createNewSurvey:hover {
    background-color: #0483ee;
}

.createNewSurvey .icon {
    position: absolute;
    top: 14px;
    left: 13px;
    width: 40px;
    height: 40px;
}

.createNewSurvey > p {
    margin-left: 45px;
}

.mainbody {
    background-color: white;
    width: 100%;
    margin-left: 3px;
    border-radius: 15px;
    position: relative;
    box-sizing: border-box;
    border: none;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 20%), 0 0 0 rgb(0 0 0 / 40%);
}

.mainbody .main_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    margin: 5px 5px 0 5px;
}

.mainbody .main_top .main_top_left {
    display: inline-block;
    color: #202124;
    font-size: 20px !important;
    font-weight: 520 !important;
}

.mainbody .main_top .main_top_right {
    display: inline-block;
    margin-right: 2px;
    border-left: 1px rgb(0 0 0 / 20%) solid;
}

.main_docs {
    border-top: 1px rgb(0 0 0 / 20%) solid;
    display: grid;
    grid-gap: 20px;
    gap: 20px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
}

@media (max-width: 768px) {
    .main_docs {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
